<!DOCTYPE html>
<html>
	<head>
		<title>Delete a course</title>
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static 'course_app/css/styles.css' %}" charset="utf-8">
	</head>
	<body>
		<h1>Are you sure you want to delete the following course?</h1>
		<table>
			<tr>
				<td>Name:</td>
				<td>{{course.name}}</td>
			</tr>
			<tr>
				<td>Description:</td>
				<td>{{course.description}}</td>
			</tr>
		</table>
		<a href="/delete/{{course.id}}" class="button red">Yes, Delete</a>
		<a href="/" class="button">Cancel</a>
	</body>
</html>